.hero__container{
  margin: 15rem 2rem 0rem 15rem;
}

.bg__image{
    width: 100%;
    height: auto;
}

.background__container{
    position: absolute;
    top: 0;
    left:0;
    height: auto;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
    font-family: 'Red Hat Display Roboto sans serif';
    color: white;

}
.hero__image{
    margin: 0rem 1rem;
    height: 45rem;
    object-fit: cover;
}

.herotwo__image{
    width: 100%;
    margin-top: -10rem;
    object-fit: cover;
}

.hero__text{
    margin-top: 5rem;
}

.hero__image--content{
    width: 100%;
    height: auto;
}

.herotwo__image--content{
    width: 100%;
    height: auto;
}

.herotwo__image{
    margin-top: -10rem;
}

.hero__content{
    display: flex;
    justify-content: flex-start;
}
.hero__subtitle{
    font-family: 'Roboto';
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
    margin: 2rem 5rem;
}

.hero__title{
    font-size: 60px;
    font-family: 'Red Hat Display';
    color: white;
}

@media only screen and (max-width: 767px){ 
.background__container{
    display: none;
}
.hero__container{
    margin: 0;
}
.herotwo__image {
    display: none;
}
.hero__content{
    display: block;
}
.hero__text{
 margin: 0;
}
.hero__title{
    font-size: 30px;
    font-family: "Red Hat Display";
    color: green;
    margin: 20px;
}
.hero__subtitle{
    font-family: "Roboto";
    font-size: 1.5rem;
    color: green;
    font-weight: 300;
    margin: 2rem 5rem;
}
}


@media only screen and (min-width: 768px) and (max-width: 1024px){ 
 .background__container{
        display: none;
    }
.hero__container {
    margin: 5rem 2rem 0 5rem;
}
.hero__title {
    font-size: 30px;
}
.read__more {
    top: 60%;
    left: 70%
}
.hero__title {
    color: green;
}
.hero__subtitle{
    color: green;
}
}