.story__title{
    font-size: 7.0rem;
    color: #008737;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    font-family: 'Noto Serif';
    font-weight: 500;
    border-image: 
      linear-gradient(
        to right, 
        green,
        green 50%,
        yellow
      ) 0% 0% 100% 0%;
}

.story{
display: flex;
margin: 10rem 0rem;
justify-content: center;
}

.story__image__container{
    width: 50rem;
    height: 55rem;
    object-fit: cover;
}

.story__content{
display: flex;
justify-content: center;
margin: 10rem 10rem 25rem 10rem;
}

.story__details{
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    transform: rotate(-3deg);
    object-fit: cover;
}

.story__image{
    transform: rotate(3deg);
    width: 100%;
    height: auto;
}

.cover__img__six{
    position: absolute;
    top: 15%;
    right: 0%;
    width: 18%;
    z-index: -3;
}

.cover__img__seven{
    position: absolute;
    top: 60%;
    left: 0%;
    width: 15%;
    z-index: -3;
}

.story__container{
    position: relative;
}
.story__text__container{
    display: flex;
    margin: 0 20rem;
    padding-left: 2rem;
}

.story__text{
margin-top: 15rem;
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 6rem;
line-height: 66px;
}


.button{
    font-family: 'Asap';
    font-size: 20px;
line-height: 20px;
color: #008737;
border: 1px solid #008737;
width: 25rem;
height: 5.67rem;
text-align: center;
margin-top: 5rem;
padding: 2rem 1rem;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-left: 20rem;
}

.story__image{
    margin-right: -15rem;
}
.story__imageone{
    transform: rotate(3deg);
    width: 100%;
    height: auto;  
}

@media only screen and (max-width: 767px){ 
    .story{
        display: block;
    }
    .story__title{
        font-size: 4rem;
    }
   .story__content{ 
       margin: 2.5rem;
    }
    .story__text__container {
        display: block;
        margin: 1rem;
        padding: 0rem;
    }
    .story__text {
        font-family: "Red Hat Display";
        font-style: normal;
        font-weight: 500;
        font-size: 2.5rem;
        margin: 10rem 2rem;
    }

    .button{
        margin: 0rem;
    }
    .story__image__container{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .story__image{
        width: 100%;
        height: auto;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px){ 
    .story__text__container {
        margin: 0rem;
    }

    .story__text{
        font-size: 3rem;

    }
}