.closerlook__container{
    margin: 0rem 10rem;
    padding: 15rem 0rem;
}

.closer__title{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 66px;
}

.items__group{
 display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem 2rem;
}

.coverimage__four{
  position: absolute;
  right: 0;
  top: 8%;
  width: 48%;
  bottom: 0;
  z-index: -3;
}

.closerlook__cover{
  position: relative;
}

.coverimage__five{
  position: absolute;
  right: 46%;
  top: 82.4%;
  bottom: 0;
  z-index: -3;
}

@media only screen and (max-width: 767px){ 
  .closerlook__container{
    display: flex;
    flex-direction: column;
    margin: 0rem !important;
    padding: 1rem !important;
  }

  .closer__title{
    font-size: 30px;
  }

  .items__group{
    display: flex !important;
   flex-direction: column;
   margin: 0 1.7rem !important;
   }   
}

@media only screen and (min-width: 768px) and (max-width: 1024px){ 
.items__group {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.coverimage__five{
  display: none;
}
.coverimage__four{
  display: none;
}
}