.items__containers{
   margin-left: 500px;
   list-style: none;
   display: flex;
}

.header__items{
    display: inline-block;
    margin: 0px 30px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    color: white;
    border-bottom: 3px solid transparent;
}

.large__item{
    min-width: 70px;
}
.larger__item{
    min-width: 120px;
}

.header__items:hover{
    border-bottom: 3px solid #F8C301;
}
.header__container{
    margin: 20px 30px;
    display: flex;
    font-size: 20px;
}

.logo{
    margin-left: 100px;
}

@media only screen and (max-width: 767px){ 
    .header__container{
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 20px 30px;
        background-color: green;
    }
    .header__items:hover{
        border: 3px solid white;
    }

    .items__containers{
        display: block;
        margin: 0rem;
        padding: 0 !important;
    }
    .header__items{
        display: block;
        margin: 0px;
        width: auto;
        padding: 1rem;
    }
    .large__item{
        width: auto;
    }
    .larger__item{
        width: auto;
    }
   .logo{
    margin: 0;
    }
    .items__containers{
        display: flex;
        flex-direction: column;
         justify-content: center;
    }

 }

 @media only screen and (min-width: 768px) and (max-width: 991px){ 
    .items__containers{
        margin-left: 50px;
    }
 }

